<!--bunu normal bi app gibi dusundugumuzde appdeki her parcayi bu component olarak dusunuyoruz ve component file larini
create ederken onlarada birar tane selector ekliyorz  aslinda main app de sadece component larin slectorleri var  -->
<!--headerin selectoru-->
<app-header> </app-header>
<main>
   <!--postu create etmek icin actigimiz yerin selectoru-->
  <app-post-create></app-post-create>
   <!--bide postu listelemek icin actigimiz yerin selectoru-->
  <app-post-list  ></app-post-list>
</main>

<!--main tamam-->
